	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/10/2020 10:30
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon-1.eot") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-message:before { content: "\f100"; }
.flaticon-placeholder:before { content: "\f101"; }
.flaticon-phone:before { content: "\f102"; }
.flaticon-right-arrow:before { content: "\f103"; }
.flaticon-brain:before { content: "\f104"; }
.flaticon-hiring:before { content: "\f105"; }
.flaticon-private-detective:before { content: "\f106"; }
.flaticon-documents:before { content: "\f107"; }
.flaticon-spy:before { content: "\f108"; }
.flaticon-identity:before { content: "\f109"; }
.flaticon-mystery:before { content: "\f10a"; }
.flaticon-investigation:before { content: "\f10b"; }
.flaticon-mystery-1:before { content: "\f10c"; }
.flaticon-diploma:before { content: "\f10d"; }
.flaticon-newsletter:before { content: "\f10e"; }
.flaticon-verification:before { content: "\f10f"; }