{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Cards -->
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>Total Reports</h5>
                <p class="fs-3">{{report_count}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>Pending Reports</h5>
                <p class="fs-3">{{pending_count}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>Reviewed Reports</h5>
                <p class="fs-3">{{reviewed_count}}</p>
            </div>
        </div>
    </div>
</div>

<!-- table -->
<div class="card shadow-sm">
    <div class="card-header bg-white">
        <h5 class="mb-0">Scam Reports</h5>
    </div>

    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Case</th>
                    <th>Scammer</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Story (Preview)</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for report in reports%}
                <tr>
                    <td>{{forloop.count}}</td>

                    <td>
                        <strong>{{report.full_name}}</strong><br>
                        <small class="text-muted">{{report.email}}</small>
                    </td>

                    <td>
                        <span class="badge bg-info text-dark">
                            {{report.case_type}}
                        </span>
                    </td>

                    <td>{{report.scam_company_name}}</td>

                    <td>
                        <strong>{{report.amount_lost|intcomma}}</strong><br>
                        <small class="text-muted">{{report.currency}}</small>
                    </td>

                    <td>
                        {% if report.status == "pending" %}
                        <span class="badge bg-warning text-dark">Pending</span>
                        {% elif report.status == "reviewed" %}
                        <span class="badge bg-success">Reviewed</span>
                        {% else %}
                        <span class="badge bg-secondary">{{ report.status }}</span>
                        {% endif %}
                    </td>

                    <td class="story-preview">
                        {{ report.story|truncatewords:12 }}
                    </td>

                    <td>
                        <a href="{% url 'account:report_detail' report.id %}" class="btn btn-sm btn-outline-primary">
                            View More
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}